<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
	<link rel="stylesheet" href="css/style.css">

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
	<title>Document</title>
</head>

<body>
	<header class="header uk-container-expand uk-flex uk-flex-between uk-flex-middle">
		<a href="#" class="logo">logo</a>
		<nav class="nemu" uk-navbar>
			<ul class="uk-subnav uk-subnav-pill uk-margin-remove">
				<li><a href="#">Menu1</a>
					<div uk-dropdown="mode: hover;">
						<ul class="uk-nav uk-dropdown-nav">
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Menu2</a>
					<div uk-dropdown="mode: hover;">
						<ul class="uk-nav uk-dropdown-nav">
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
							<li><a href="#">Пункт меню</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Menu3</a>
					<div uk-dropdown="mode: hover;">
						<ul class="uk-nav uk-dropdown-nav">
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
		<nav class="auth" uk-navbar>
			<ul class="uk-navbar-nav">
				<li><img src="img/user-img.png" alt="User" class="user__img"></li>
				<li>
					<a href="#">User</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Пункт меню</a></li>
							<li><a href="#">Выйти</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<main class="main">
		<div class="main__page uk-container uk-container-large">
			<h1 class="uk-heading-xlarge">Заголовок</h1>
			<p class="uk-text-meta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nam assumenda
				necessitatibus animi, eius quas? Ducimus quo fugit velit minus quisquam officiis rem saepe, perspiciatis maxime
				aspernatur inventore repudiandae vitae!</p>
			<form class="uk-form-horizontal">
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Текст</label>
					<div class="uk-form-controls">
						<input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
							placeholder="Какой-то текст...">
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Текст</label>
					<div class="uk-form-controls">
						<input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
							placeholder="Какой-то текст...">
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Текст</label>
					<div class="uk-form-controls">
						<input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
							placeholder="Какой-то текст...">
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Название</label>
					<div class="uk-form-controls">
						<input class="uk-checkbox" id="form-horizontal-text" type="checkbox">
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-select">Список</label>
					<div class="uk-form-controls">
						<select class="uk-select uk-form-width-medium" id="form-horizontal-select">
							<option>Опция 01</option>
							<option>Опция 02</option>
							<option>Опция 03</option>
							<option>Опция 04</option>
						</select>
					</div>
				</div>

				<p uk-margin>
					<button class="uk-button uk-button-primary">Кнопка</button>
				</p>
				<p uk-margin>
					<button class="uk-button uk-button-primary uk-margin-right">Кнопка</button>
					<button class="uk-button uk-button-primary">Кнопка</button>
				</p>

			</form>
		</div>
	</main>
</body>

</html>