<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
	<link rel="stylesheet" href="css/style.css">

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
	<title>Document</title>
</head>

<body>
		<header class="header uk-container-expand uk-flex uk-flex-between uk-flex-middle">
			<a href="#" class="logo">logo</a>
			<nav class="nemu" uk-navbar>
				<ul class="uk-subnav uk-subnav-pill uk-margin-remove">
					<li><a href="#">Menu1</a>
						<div uk-dropdown="mode: hover;">
							<ul class="uk-nav uk-dropdown-nav">
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Menu2</a>
						<div uk-dropdown="mode: hover;">
							<ul class="uk-nav uk-dropdown-nav">
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
								<li><a href="#">Пункт меню</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Menu3</a>
						<div uk-dropdown="mode: hover;">
							<ul class="uk-nav uk-dropdown-nav">
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню<span class="uk-alert-danger">new</span></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
			<nav class="auth" uk-navbar>
				<ul class="uk-navbar-nav">
					<li><img src="img/user-img.png" alt="User" class="user__img"></li>
					<li>
						<a href="#">User</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Пункт меню</a></li>
								<li><a href="#">Выйти</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>
		<main class="main">
			<div class="main__page uk-container uk-container-large">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sapiente quasi soluta minus esse eos recusandae
				nulla, quibusdam eveniet, repellat qui velit neque aliquam, ab placeat repellendus facilis ex optio provident?
				Velit ad cupiditate ex iure obcaecati quidem delectus reiciendis odit illo ea, eligendi earum quos adipisci
				perferendis odio fugit. Debitis inventore corporis voluptatibus ab laudantium dignissimos cumque, magnam odit
				dolor dolorem quasi saepe, dicta eaque. Labore debitis quo et nihil. Libero exercitationem, consequatur vero
				sint corrupti iure. Magnam laborum ducimus sit a, iure molestias soluta perspiciatis, voluptates, et illum
				mollitia saepe? Expedita architecto quo autem fuga quod illum ipsa rem similique totam delectus suscipit, in
				esse natus atque accusamus sapiente numquam id consectetur blanditiis. Doloribus, accusamus nam? Consequuntur at
				similique vel repellendus voluptatibus, libero ea quasi, a molestiae rem alias tenetur in iure voluptas facere
				temporibus natus, veniam quam esse? Nostrum ipsa, reiciendis sapiente facere quam, aliquid similique illo dicta
				quis laboriosam optio autem distinctio. Fugiat laboriosam enim earum mollitia, praesentium omnis exercitationem
				aut suscipit temporibus a consectetur molestias nihil? Corrupti, vero, eligendi facilis eos unde tempora
				expedita numquam id hic labore explicabo praesentium deleniti amet molestiae necessitatibus molestias, veniam
				similique laudantium voluptate! Ab cumque optio sint rem veritatis inventore voluptate officiis perspiciatis
				expedita autem? Sapiente veritatis necessitatibus delectus sint tempore quam maxime voluptates modi deserunt id
				minus, quod error nisi iste deleniti repellendus fuga impedit! Laboriosam ab natus dignissimos facilis
				voluptates ipsa iste accusamus voluptatibus earum! Quidem dicta sunt quos in, nemo id expedita veritatis
				deleniti impedit voluptatibus ad laudantium consectetur incidunt, cumque alias corrupti optio accusantium earum,
				officia odio necessitatibus. Minima, doloremque, voluptas iure optio eos error voluptate maiores, ullam
				recusandae id vel? Itaque reiciendis ut quibusdam perferendis dolores recusandae numquam eius, minima facere
				doloremque doloribus tenetur modi, repellat in et quod incidunt sint ipsam eveniet tempore? Fugiat impedit
				temporibus odio aliquam harum eos assumenda esse, enim sint dolor facere quo eveniet reprehenderit dolorem,
				blanditiis ducimus eum similique veniam ipsam iure consequatur veritatis unde amet accusantium? Ex sapiente in
				vero nobis iste modi consectetur tempore, eligendi maiores assumenda quis, deleniti ducimus ipsa. Unde ex
				excepturi ratione dolorum laboriosam facilis nemo labore voluptatum quidem aspernatur, architecto facere ipsa
				aliquid, iste modi qui. Provident facilis nisi incidunt sed aliquam quibusdam impedit, deleniti repellat harum,
				cum, fugiat voluptatibus explicabo exercitationem. Molestias quisquam placeat voluptatibus, dolor nemo minus
				deleniti consequuntur doloremque esse iure eos eum fuga animi dolorum eius perferendis delectus quae ad nesciunt
				dolores dicta modi aliquam consectetur! Placeat molestiae cum velit deleniti distinctio inventore saepe maxime,
				magnam dignissimos hic nam delectus vero commodi laudantium at ut consectetur vel quis necessitatibus aliquid
				voluptates officiis asperiores minima ducimus. Eligendi voluptatem eaque aliquam quasi alias porro inventore,
				molestias doloremque dicta! Quis perferendis provident odit natus esse vero, quia officiis dicta, dolores eos
				quod nesciunt repellat sint expedita optio harum. Adipisci est nobis natus expedita doloribus provident, nemo
				eligendi commodi, pariatur velit placeat esse maiores unde aliquam eos ipsa atque aut totam rem excepturi culpa
				eaque. Ex deserunt officiis debitis, consectetur sit quisquam?
			</div>
		</main>
</body>

</html>